* {
  margin: 0;
  padding: 0;
}

/*media query */
@media screen only and(min-size: 240px) and (max-size: 480px) {
  .heading {
    font-size: 1.3em;
  }
}
/*end query*/

html {
  font-size: 18px;
}

body {
  background-color: #000;
}

.heading {
  text-align: center;
  font-size: 3em;
  color: darkorange;
}

/* start form styles */


.form-layout {
  text-align: center;
  margin: 1em 0 1em 0;
  padding: 2em;
}


.fName {
  margin-bottom: 1.4em;
}

.lName {
  margin-bottom: 1.4em;
}

.email {
  margin-bottom: 1.4em;
  margin-left: 4em;
}

.pswd_1 {
  margin-bottom: 1.4em;
  margin-right: 4.3em;
}

.pswd_2 {
  margin-right: 6em;
}

label {
  color: darkorange;
  font-size: 2em;
  margin: .4em;
}

input {
  font-size: 1.5em;
  color: #ff8000;
  border-radius: 5px;
  border-color: darkorange;
}

.button {
  margin-top: 3em;
}


button {
  padding: 10px;
  font-size: 1.2em;
  font-family: fantasy;
  border-radius: 15px;
  background-color: darkorange;
  color: #000;
}

button:active {
  background-color: ghostwhite;
}

.button:active {
  position: relative;
  top: 3px;
  right: 3px;

}

 /* end form styles */
